@import "../../variables.scss";

.menuItemWrapper {
  width: 25%;
  padding: $mainPadding * 2;
  .menuItem {
    width: 100%;
    border: $mainBorderWidth solid $mainBorderColor;
    background-color: $itemCardColor;
    display: flex;
    flex-direction: column;
    .photo {
      width: 100%;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    h2 {
      width: 100%;
      color: $mainColor;
      font-size: $mainFontSize;
    }
    .priceCart {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $mainPadding / 2;
      .price {
        color: $mainColor;
        padding: $mainPadding / 2;
        font-size: $mainFontSize * 5 / 4;
      }
      .cart {
        padding: $mainPadding / 2;
        i {
          color: $mainColor;
          font-size: $mainFontSize * 5 / 4;
          &:hover {
            color: $mainHoverColor;
          }
        }
      }
    }
  }
  @media (max-width: 1400px) {
    width: 33.33333%;
  }
  @media (max-width: 1024px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
