@import "../../variables.scss";

.menuItemWrapper {
  width: 25%;
  padding: $mainPadding * 2;
  .menuItem {
    width: 100%;
    border: $mainBorderWidth solid $mainBorderColor;
    background-color: $itemCardColor;
    // transition: $mainTransition;
    display: flex;
    flex-direction: column;
    // &:hover {
    //   margin-top: $mainPadding * -2;
    // }
    img {
      width: 100%;
    }
    h2 {
      width: 100%;
      color: $mainColor;
      font-size: $mainFontSize;
    }
    .kitchenTypes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: $mainPadding / 2;
      .kitchenWrapper {
        padding: $mainPadding / 2;
        .kitchen {
          font-size: $mainFontSize;
          padding: $mainPadding / 2;
          text-transform: capitalize;
          border: $mainBorderWidth solid $mainColor;
          border-radius: $mainBorderRadius;
          color: $mainColor;
        }
      }
    }
    .priceBasket {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $mainPadding / 2;
      .price {
        color: $mainColor;
        padding: $mainPadding / 2;
        font-size: $mainFontSize * 5 / 4;
      }
      .basket {
        padding: $mainPadding / 2;
        i {
          color: $mainColor;
          font-size: $mainFontSize * 5 / 4;
          &:hover {
            color: $mainHoverColor;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    width: 33.33333%;
  }
  @media (max-width: 1024px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
