@import "../../../variables.scss";

.modalPopup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .invoice {
    padding: $mainPadding * 3;
    border: $mainBorderWidth solid $mainBorderColor;
    border-radius: $mainBorderRadius;
    background-color: white;
    .top {
      display: flex;
      justify-content: space-between;
      .w {
        .type {
          padding-left: $mainPadding / 2;
        }
      }
      .dmy {
        > span {
          padding: $mainPadding / 4;
        }
      }
    }
    > h1 {
      padding: $mainPadding 0;
    }
    .table {
      width: 100%;
      // height: auto;
      overflow: auto;
      padding-bottom: $mainPadding;
      table {
        width: 100%;
        color: $mainColor;
        text-align: center;
        border-spacing: 0px;
        border-collapse: collapse;
        thead {
          border-bottom: $mainBorderWidth solid $mainBorderColor;
        }
        th,
        td {
          padding: $mainPadding;
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      padding-top: $mainPadding;
      .closeInvoice {
        padding: $mainPadding;
        border: $mainBorderWidth * 2 solid $mainBorderColor;
        border-radius: $mainBorderRadius;
        transition: $mainTransition;
        cursor: pointer;
        &:hover {
          background-color: $mainColor;
          color: $white;
        }
      }
    }
  }
}
