@import "../../variables.scss";

.basketRight {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -20%;
  border-left: $mainBorderWidth * 2 solid $mainBorderColor;
  background-color: $white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: $mainPadding;
  transition: $mainTransition;
  .top,
  .basketItems {
      padding: $mainPadding;
  }
  .top {
    width: 100%;
    display: flex;
    .totalPrice {
      width: 50%;
      font-size: $mainFontSize;
    }
    .closeBasket {
      width: 50%;
      text-align: end;
      i {
        font-size: $mainFontSize * 2;
        color: $mainColor;
        &:hover {
            color: $mainHoverColor;
        }
      }
    }
  }
  .basketItems {
    overflow: auto;
  }
  .order {
    text-align: center;
    padding: $mainPadding;
    > div {
        display: inline-block;
        padding: $mainPadding / 2;
        border: $mainBorderWidth * 2 solid $mainColor;
        border-radius: $mainBorderRadius;
      cursor: pointer;
      transition: $mainTransition;
      &:hover {
        border: $mainBorderWidth * 2 solid $mainHoverColor;
        color: $mainHoverColor;
      }
    }
  }
}
