@import '../../variables.scss';

.faicon {
  i {
    color: $mainIconColor;
    font-size: $mainFontSize;
    transition: $mainTransition;
    &:hover {
      cursor: pointer;
      color: $mainHoverColor;
    }
  }
}
