@import '../../variables.scss';

.shoppingCart {
  display: flex;
  align-items: center;
  color: $mainBorderColor;
  i {
    padding: $mainPadding;
    font-size: $mainPadding * 3;
  }
  sup {
    transition: $mainTransition;
    cursor: pointer;
  }
  &:hover {
    sup,
    i {
      color: $mainHoverColor;
    }
  }
}
