@import "../../variables.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $mainPadding * 2;
  background-color: $mainColor;
  .left {
    text-align: start;
    button {
      padding: $mainPadding / 2;
      cursor: pointer;
      &:hover {
        i {
          color: $mainHoverColor !important;
        }
      }
    }
  }
  .left,
  .cart {
    width: 20%;
  }
  .searchFilter {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart {
    padding: 0 $mainPadding * 2;
    display: flex;
    justify-content: flex-end;
  }
}
