@import '../../variables.scss';

.selectOptions {
  select {
    padding: $mainPadding;
    font-size: $mainFontSize;
    background-color: $mainIconColor;
    transition: $mainTransition;
    border: $mainBorderWidth solid $mainBorderColor;
    border-top-left-radius: $mainBorderRadius;
    border-bottom-left-radius: $mainBorderRadius;
    color: $mainColor;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: $mainBorderColor;
    }
    option {
      color: $mainColor;
      background-color: $white;
    }
  }
}
