@import '../../variables.scss';

.selectOptions {
  position: relative;
  label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    z-index: -1;
    font-size: 16px;
    color: transparent;
  }
  select {
    width: 100%;
    padding: $mainPadding;
    font-size: $mainFontSize;
    background-color: $mainIconColor;
    transition: $mainTransition;
    border: $mainBorderWidth solid $mainBorderColor;
    border-top-left-radius: $mainBorderRadius;
    border-bottom-left-radius: $mainBorderRadius;
    color: $mainColor;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: $mainBorderColor;
    }
    option {
      color: $mainColor;
      background-color: $white;
    }
  }
}
