@import "../../variables.scss";

input {
  padding: $mainPadding;
  font-size: $mainFontSize;
  border: $mainBorderWidth solid $mainBorderColor;
  border-radius: $mainBorderRadius;
  color: $mainColor;
  &::placeholder {
    color: $mainColor;
  }
}
.restaurantsSearch {
  input {
    border-radius: 0 $mainBorderRadius $mainBorderRadius 0;
  }
}
