@import '../../variables.scss';

input {
  padding: $mainPadding;
  font-size: $mainFontSize;
  border: $mainBorderWidth * 3 / 2 solid $mainBorderColor;
  border-radius: $mainBorderRadius;
  color: $mainColor;
  &::placeholder {
    color: $mainColor;
  }
}
.restaurantsSearch {
  position: relative;
  label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    z-index: -1;
    font-size: 16px;
    color: transparent;
  }
  input {
    width: 100%;
    border-radius: 0 $mainBorderRadius $mainBorderRadius 0;
  }
}
