@import '../../variables.scss';

.basketItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $mainPadding / 2;
  .nameDeleteItem {
    padding: $mainPadding 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .name {
      h3 {
        font-size: $mainFontSize;
        color: $mainColor;
      }
    }
    .deleteItem {
      height: 20px;
      i {
        font-size: $mainFontSize;
        color: $mainColor;
        &:hover {
            color: $mainHoverColor;
        }
      }
    }
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    .photo {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .priceCounter {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: $mainFontSize;
      .counter {
        display: flex;
        flex-direction: row;
        > div {
          padding: $mainPadding;
          i {
              color: $mainColor;
              &:hover {
                  color: $mainHoverColor;
              }
          }
        }
        .decrease,
        .increase {
          font-size: $mainFontSize;
          font-weight: bold;
          color: $mainColor;
        }
      }
    }
  }
}
