$mainFontSize: 16px;
$mainPadding: 8px;
$mainBorderWidth: 1px;
$mainBorderRadius: 4px;
$mainTransition: 0.3s;
$mainColor: #232f3e;
$mainHoverColor: #da3743;
$mainBorderColor: #dadada;
$mainIconColor: #f3f3f3;
$white: white;
$itemCardColor: #f3f4fc;